
/*# ##### #*/
/*# Basic #*/
/*# ##### #*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}	

html {
	background-color: #fff;
}

body {	
	color: #292f33;

	height: 100%;
	overflow: hidden;
	overflow-y: visible;

	z-index: 100;
}

/* # ##### #*/
/* # Links #*/
/* # ##### #*/

a {
	font-weight: 600;
	color: #292f33;
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: #00cccc;
}

/* # #### #*/
/* # Line #*/
/* # #### #*/

div.line {
	padding: 0.3em;
}


/* # #### #*/
/* # Time #*/
/* # #### #*/

span.time {
	float: right;

	letter-spacing: 0.1em;
	line-height: 1.1em;
	font-weight: 600;

	color: #292f33;
}


/* # ############## #*/
/* # Message Format #*/
/* # ############## #*/

span.senderContainer {
	display: block;
	text-align: left; 

	font-weight: 600;
	letter-spacing: 0.1em;

	padding-bottom: 0.3em; 
}

span.message[ltype='privmsg'] span.innerMessage {
	padding-left: 0.3em;
}

div.line[ltype='join'],
div.line[ltype='quit'],
div.line[ltype='topic'],
div.line[ltype='nick'] {
	color: #888;
}


div.line[ltype='debug'] {
	padding: 0.2em 0.3em;
	color: #555;
	background-color: #FAFAFA;
}

div.line span.inline_nickname {
	font-weight: 600;
}

/* ########### #*/
/* # Topic Bar #*/
/* ########### #*/

div#topic_bar {
	position: fixed;
	z-index: 200;

	top: 0;
	left: 0;
	right: 0;

	padding: 0.7em 1em;

	background-color: #FCFCFC;

	border-bottom: 0.2em solid #00cccc;

	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: 600;
	text-align: justify;

	transition: all 0.3s ease-in-out;
}
div#topic_bar:hover {
	padding: 1.2em 1em;
}

/* ########## */
/* # Colors # */
/* ########## */

span.sender[mtype="myself"] {
	color: #00cccc !important;
}